table {
  font-family: Verdana, Geneva, sans-serif;
  border: 2px solid #999999;
  text-align: left;
  border-collapse: collapse;
}
table td, table th {
  border: 0px solid #FFFFFF;
  padding: 3px 2px;
}
table tbody td {
  font-size: 13px;
  padding-right: 2em;
}
table thead {
  background: #ADD8E6;
}
table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table tfoot td {
  font-size: 14px;
}
tr.type_V, tr.type_PVA, tr.type_PVT {
  background-color: #f7f7af;
}
tr.type_P {
  background-color: #ffdead;
}
td.center {
  align-content: center;
}
tr a:hover {
  text-decoration: underline;
}
tr a:visited {
  color: #003365;
}
tr a {
    text-decoration: none;
}