{% extends "class/class.html" %}
{% load static %}

{% block subcontent %}
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">

    <table class="wisTable">
            <thead>
                <tr>
                    <th colspan="4">Classes</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for class in classes %}
                    <tr class="type_{{ class.type_of_class.shortcut }}">
                        <td><a href="">{{ class.name }}</a></td>
                        <td class="center">{{ class.type_of_class.name }}</td>
                        <td class="center">{{ class.date|date:"Y-m-d" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

{% endblock %}
