{% extends "class/class.html" %}
{% load static %}

{% block subcontent %}
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">

    <table class="wisTable">
            <thead>
                <tr>
                    <th colspan="4">Kurzy</th>
                </tr>
                <tr>
                    <th>Skr</th>
                    <th>Názov</th>
                    <th>Typ</th>
                    <th>Rola</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr class="type_{{ course.type_of_course.shortcut }}">
                        <td><b>{{ course.shortcut }}</b></td>
                        <td><a href="{% url 'view_classes' id=course.shortcut %}">{{ course.name }}</a></td>
                        <td class="center">{{ course.type_of_course.shortcut }}</td>
                        <td class="center">x</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

{% endblock %}
