*
{
    padding: 0;
    margin: 0;
}

img
{
    width: 300px;
    float: right;
    margin-right: 10px;
}

h1
{
    font-family: Verdana, Geneva, "DejaVu Sans", Arial, sans-serif;
    font-weight: bolder;
    font-size: 32px;
}
h2
{
    font-family: Verdana, Geneva, "DejaVu Sans", Arial, sans-serif;
    font-size: 16px;
    margin-top: 12px;
}
h3
{
    font-family: Verdana, Geneva, "DejaVu Sans", Arial, sans-serif;
    font-size: 14px;
    margin-top: 12px;
}
h4
{
    font-family: Verdana, Geneva, "DejaVu Sans", Arial, sans-serif;
    font-size: 13px;
    margin-top: 6px;
}

.button
{
    font-weight: bolder;
    font-size: 14px;
    color: white;
    border-radius: 15px;
    margin: 19px;
    display: block;
    width: auto;
    max-width: 450px;
    padding: 14px 20px 16px 20px;
    text-decoration: none;
	box-shadow: 0 4px 6px #ccc;
    background: #3498db;
}
.button:hover, .button:focus
{
    color: yellow;
}

@media (prefers-color-scheme: dark) {
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}

img.FITlogo
{
    border-radius: 0;
    width: auto;
	display: block;
    scale: revert;
/*	height: 39px; */
}
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3498db;
}

li
{
  float: left;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover
{
    background-color: #3498db;
    color: yellow;
}

.menubutton
{
    padding: 10px;
}

.menubutton:hover
{
    background: #3498db;
    color: #343a40;
}