{% extends "index.html" %}

{% load static %}
{% block menu %}
        <li>
            <a class="menu-button" href="{% url 'login' %}">
                <span style="position:absolute; top:10px; font-size: 24px;line-height: 14px;font-weight: normal">&nbsp;⌂&nbsp;</span>
            </a>
        </li>

        <li>
            <a style="position:absolute; right: 70px; top: 2px" class="menubutton" href="{% url 'logout' %}">
                <span style="font-size:24px;line-height:14px;font-weight:normal">&nbsp;⍈&nbsp;</span>
            </a>
        </li>

{% endblock %}
{% block content %}
    <h1>error 403</h1>
{% endblock %}