{% extends "index.html" %}

{% block menu %}
    <li>
        <a class="menu-button" href="{% url 'admin' %}">
            <span style="font-size: 24px;line-height: 14px;font-weight: normal">&nbsp;⌂&nbsp;</span>
        </a>
    </li>

    <li class="menu-space"></li>
    <li>
        <a style="position:absolute; right: 70px" class="menubutton">
            <span style="font-size: 24px; line-height: 14px;font-weight: normal">&nbsp;⍈&nbsp;</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <h1>Informačný systém WIS2</h1>
        <div class="container">
            <a class="button" tabindex="1" role="menuitem" href="{% url 'admin' %}"> Správa uživateľov</a>
            <a class="button" tabindex="2" role="menuitem" href="{% url 'room_admin' %}"> Zadávanie miestnosti</a>
            <a class="button" tabindex="3" role="menuitem" href="{% url 'admin' %}"> Schvaľovanie kurzov</a>
            <a class="button" tabindex="4" role="menuitem" href="{% url 'logout' %}"> Odhlásiť z WIS2</a>
        </div>
    </div>
{% endblock %}