{% extends "course.html" %}
{% load static %}
{% load has_group %}

{% block subcontent %}
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">

    {% if request.user|has_group:"Guarantor" %}
        <table class="wisTable">
            <thead>
                <tr>
                    <th colspan="4">Guaranted courses</th>
                </tr>
                <tr>
                    <th>Zkr</th>
                    <th>Course</th>
                    <th>Typ</th>
                    <th>Kr</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses.guaranted %}
                    <tr class="type_{{ course.type_of_course.shortcut }}">
                        <td><b>{{ course.shortcut }}</b></td>
                        <td><a href="{% url 'edit_course' id=course.shortcut %}"><a href="{% url 'edit_course' id=course.shortcut %}">{{ course.name }}</a></a></td>
                        <td class="center">{{ course.type_of_course.shortcut }}</td>
                        <td class="center">{{ course.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br />
    {% if request.user|has_group:"Teacher" %}
        <table class="wisTable">
            <thead>
                <tr>
                    <th colspan="4">Teached courses</th>
                </tr>
                <tr>
                    <th>Zkr</th>
                    <th>Course</th>
                    <th>Typ</th>
                    <th>Kr</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses.teached %}
                    <tr class="type_{{ course.type_of_course.shortcut }}">
                        <td><b>{{ course.shortcut }}</b></td>
                        <td><a href="{% url 'edit_course' id=course.shortcut %}">{{ course.name }}</a></td>
                        <td class="center">{{ course.type_of_course.shortcut }}</td>
                        <td class="center">{{ course.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if request.user|has_group:"Administrator" %}
        <table class="wisTable" id="to_approve">
            <thead>
                <tr>
                    <th colspan="5">Courses to approve</th>
                </tr>
                <tr>
                    <th>Zkr</th>
                    <th>Course</th>
                    <th>Typ</th>
                    <th>Kr</th>
                    <th>Approve</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses.to_approve %}
                    <tr class="type_{{ course.type_of_course.shortcut }}" id="subject_{{ course.type_of_course.shortcut }}">
                        <td><b>{{ course.shortcut }}</b></td>
                        <td><a href="{% url 'edit_course' id=course.shortcut %}">{{ course.name }}</a></td>
                        <td class="center">{{ course.type_of_course.shortcut }}</td>
                        <td class="center">{{ course.price }}</td>
                        <script src="{% static 'onclick.js' %}"></script>
                        <td class="center">
                            <button id="tick" onclick="hide_and_approve('subject_{{ course.type_of_course.shortcut }}'); delete_row(this); style.display = 'none'">
                                <a href="{% url 'approve_course' id=course.shortcut %}">&#9745</a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="wisTable" id="approved">
            <thead>
                <tr>
                    <th colspan="4">Approved courses</th>
                </tr>
                <tr>
                    <th>Zkr</th>
                    <th>Course</th>
                    <th>Typ</th>
                    <th>Kr</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses.all %}
                    <tr class="type_{{ course.type_of_course.shortcut }}">
                        <td><b>{{ course.shortcut }}</b></td>
                        <td><a href="{% url 'edit_course' id=course.shortcut %}">{{ course.name }}</a></td>
                        <td class="center">{{ course.type_of_course.shortcut }}</td>
                        <td class="center">{{ course.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div class="container">
        <a class="button" tabindex="1" role="menuitem" href="{% url 'create_course' %}"> Create course</a>
    </div>
{% endblock %}
