{% extends "course.html" %}
{% load static %}
{% load has_group %}
{% load get_item %}

{% block subcontent %}
    <h2>Edit course: {{ course.shortcut }} ({{ course.name }})</h2>

    {% include 'course/updates.html' %}

    <link rel="stylesheet" href="{% static 'form.css' %}">
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="form" value="add_update">
        <table>
            {{ CreateUpdateForm.as_table }}
            <tr>
                <td colspan="2">
                    <button type="submit">Create</button>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <table class="wisTable">
        <thead>
            <tr>
                <th colspan="5">Registered students</th>
            </tr>
            <tr>
                <th>Login</th>
                <th>Name</th>
                <th>Email</th>
                <th>Points</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in course.students.all %}
                <tr class="type_V">
                    <td>{{ student.username }}</td>
                    <td class="center">{{ student.first_name }} {{ student.last_name }}</td>
                    <td class="center"><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
                    <td class="center">
                        {% if points|get_item:student.username is None %}
                            -
                        {% else %}
                            {{ points|get_item:student.username }}
                        {% endif %}
                    </td>
                    <td class="center">
                        {% if points|get_item:student.username is None %}
                            <a href="{% url 'appr_course_reg' id=course.shortcut user=student.username %}">
                                <button type="submit">Approve</button>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table> <br/>

    {% if request.user|has_group:"Guarantor" %}
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">
    <style>ul.errorlist {background-color: transparent;color: red;}</style>
    <table class="wisTable">
            <thead>
                <tr>
                    <th colspan="4">Teachers</th>
                </tr>
                <tr>
                    <th>Login</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for lector in course.lectors.all %}
                    {% if lector|has_group:'Guarantor' %}
                        <tr class="type_P">
                    {% else %}
                        <tr class="type_V">
                    {% endif %}
                        <td>{{ lector.username }}</td>
                        <td class="center">{{ lector.first_name }} {{ lector.last_name }}</td>
                        <td class="center">
                            <form id="remove_lector" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="lector" value="{{ lector.username }}">
                                <input type="hidden" name="form" value="remove_lector">
                                <button type="submit">Remove</button>
                                {{ form.remove.errors }}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <tr class="type_P">
                    <form id="add_lector" method="POST">
                        {% csrf_token %}
                        <td colspan="2">
                            {{ form.lector }}
                            <div style="background-color: transparent">
                            {{ form.lector.errors }}
                            </div>
                        </td>
                        <td class="center"><button type="submit">Add lector</button></td>
                        <input type="hidden" name="form" value="add_lector">
                    </form>
                </tr>
            </tbody>
        </table>
    {% endif %}

    {% if request.user|has_group:"Guarantor" %}
        <h2>Edit course:</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="form" value="edit_course">
            <table>
                <tr>
                    <td><b>Approved by:</b></td>
                    <td>
                        {% if course.approved_by %}
                            {{ course.approved.first_name }} {{ course.approved.last_name }} ({{ course.approved_by.usermame }})
                        {% endif %}
                    </td>
                </tr>
                {{ EditCourseForm.as_table }}
                <tr>
                    <td colspan="2">
                        <button type="submit">Edit</button>
                    </td>
                </tr>
            </table>
        </form>
    <div class="container">
        <a class="button" tabindex="1" role="menuitem" href="{% url 'registrations' id=course.shortcut %}">Update registrations</a>
    </div>
    {% endif %}
{% endblock %}
