{% extends "course.html" %}
{% load static %}

{% block subcontent %}
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">
    <form method="post">
        {% csrf_token %}
        <table>
            {{ CreateForm.as_table }}
        </table>
        <button type="submit">Vytvoriť kurz</button>
    </form>

        <div class="container">
        <a class="button" tabindex="1" role="menuitem" href="{% url 'course_admin' %}">Späť na prehľad kurzov</a>
    </div>
{% endblock %}
