{% extends "index.html" %}
{% load static %}
{% load get_item %}
{% block menu %}
        <li>
            <a class="menu-button" href="{% url 'login' %}">
                <span style="position:absolute; top:10px; font-size: 24px;line-height: 14px;font-weight: normal">&nbsp;⌂&nbsp;</span>
            </a>
        </li>

        <li>
            <a style="position:absolute; right: 70px; top: 2px" class="menubutton" href="{% url 'logout' %}">
                <span style="font-size:24px;line-height:14px;font-weight:normal">&nbsp;⍈&nbsp;</span>
            </a>
        </li>

{% endblock %}
{% block content %}
    <h1>Kurzy</h1>
    {% block subcontent %}
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">
        <table class="wisTable" id="enrolled">
            <thead>
                <tr>
                    <th colspan="6">Mnou registrované kurzy</th>
                </tr>
                <tr>
                    <th>Skr</th>
                    <th>Kurz</th>
                    <th>Typ</th>
                    <th>Body</th>
                    <th>Zn</th>
                    <th>Kr</th>
                </tr>
            </thead>
            <tbody>
                {% for students_course in students_courses %}
                    <tr class="type_{{ students_course.course_id.type_of_course.shortcut }}">
                        <td><b>{{ students_course.course_id.shortcut }}</b></td>
                        <td><a href="{% url 'my_enrolled_course' shortcut=students_course.course_id.shortcut %}">{{ students_course.course_id.name }}</a></td>
                        <td class="center">{{ students_course.course_id.type_of_course.shortcut }}</td>
                        <td class="center">
                        {% if points|get_item:students_course.course_id.shortcut is None %}
                            -
                        {% else %}
                            {{ points|get_item:students_course.course_id.shortcut }}
                        {% endif %}
                        </td>
                        <td class="center">
                            {% if points|get_item:students_course.course_id.shortcut is None %}
                                <b>-</b>
                            {% elif points|get_item:students_course.course_id.shortcut < 49.5 %}
                                <b>4F</b>
                            {% elif 49.5 <= points|get_item:students_course.course_id.shortcut < 59.5 %}
                                <b>3E</b>
                            {% elif 59.5 <= points|get_item:students_course.course_id.shortcut < 69.5 %}
                                <b>3D</b>
                            {% elif 69.5 <= points|get_item:students_course.course_id.shortcut < 79.5 %}
                                <b>2C</b>
                            {% elif 79.5 <= points|get_item:students_course.course_id.shortcut < 89.5 %}
                                <b>2B</b>
                            {% elif points|get_item:students_course.course_id.shortcut > 89.5 %}
                                <b>1A</b>
                            {% endif %}
                        </td>
                        <td class="center">{{ students_course.course_id.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endblock %}