<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS">
    <meta name="description" content="Projekt do predmetu IIS">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WIS2</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <ul>
        <li>
            <a href="https://www.fit.vut.cz/">
                <img class="FITlogo" src="https://wis.fit.vutbr.cz/images/fitnewz.png" alt="FIT">
            </a>
        </li>

        <li style="position:absolute; right: 10px" class="menubutton">
            <a href="https://www.fit.vut.cz/en"> english</a>
        </li>

    </ul>
    <div role="main" class="content">
        <!--TODO import-->
    </div>
</body>
</html>