{% extends "index.html" %}

{% block menu %}
        <li>
            <a class="menubutton" href="{% url 'student' %}">
                <span style="position:absolute; top:10px; font-size:24px;line-height:14px;font-weight:normal">&nbsp;⌂&nbsp;</span>
            </a>
        </li>
        <li>
            <a style="position:absolute; right: 70px" class="menubutton" href="{% url 'logout' %}">
                <span style="font-size:24px;line-height:14px;font-weight:normal">&nbsp;⍈&nbsp;</span>
            </a>
        </li>

{% endblock %}
{% block content %}
    <h1>Informačný systém WIS2</h1>
        <b>{{ username }}</b>, {{ email }} <br>
        <b>Meno študenta: </b> {{ first_name }} {{ last_name }}<br>
        <b>Posledný prístup:</b> {{last_login}} <br>
        <b>Ak. rok:</b> 2022/2023
        <div class="container">
            <a class="button" tabindex="1" role="menuitem" href="{% url 'edit_profile' %}"> Upraviť profil</a>
            <a class="button" tabindex="2" role="menuitem" href="{% url 'course_registrations_overview' %}"> Prihlásiť kurz</a>
            <a class="button" tabindex="3" role="menuitem" href="{% url 'class_registration' %}"> Registrovať termín</a>
            <a class="button" tabindex="4" role="menuitem" href="{% url 'student' %}"> Zobraziť hodnotenie</a>
            <a class="button" tabindex="5" role="menuitem" href="{% url 'timetable' %}"> Zobraziť rozvrh</a>
            <a class="button" tabindex="6" role="menuitem" href="{% url 'my_courses' %}"> Prehľad kurzov</a>
            <a class="button" tabindex="6" role="menuitem" href="{% url 'logout' %}"> Odhlásiť z WIS2</a>
        </div>
{% endblock %}