{% extends "class/class.html" %}
{% load static %}

{% block subcontent %}
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">
    <h3>Detail termínu {{ class_obj.name }} k predmetu {{ class_obj.course }}</h3>

    <p><b>Kurz: </b>{{ class_obj.course_id }}</p>
    <p><b>Typ termínu: </b>{{ class_obj.type }}</p>
    <p><b>Popis: </b>{{ class_obj.description }}</p>
    <br>
    <table class="wisTable">
        <thead>
            <tr>
                <th colspan="3">Dátumy termínov</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Dátum od</th>
                <th>Dátum do</th>
            </tr>
        </thead>
        <tbody>
            {% for class_date in class_dates %}
                <tr class="type_{{ class_obj.type.shortcut }}">
                    <td>{{ forloop.counter }}</td>
                    <td class="center">{{ class_date.date_from|date:"H:i d.m.Y" }}</td>
                    <td class="center">{{ class_date.date_to|date:"H:i d.m.Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="container">
        <a class="button" tabindex="1" role="menuitem" href="{% url 'class_registration' %}">Späť na prihlasovanie termínov</a>
    </div>
{% endblock %}
